{% extends 'base.html' %}
{% block load %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'quotes/styles.css' %}" />
{% endblock %}
{% block base %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <span {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</span>
    {% endfor %}
</div>
{% endif %}

{% if form.errors and form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    {{form.non_field_errors}}
</div>
{% endif %}
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <h2>Login User</h2>
      <label for="InputUsername" class="form-label">username</label>
      {{ form.username }}
      <span>{{form.errors.username}}</span>
    </div>
    <div class="mb-3">
      <label for="InputPassword" class="form-label">Password RKK6VmswqctuVEZ</label>
      {{ form.password }}
      <span>{{form.errors.username}}</span>
    </div>
    <button type="submit" class="btn btn-primary">login</button>
  </form>
{% endblock %}
