{% extends 'base.html' %}
{% block base %}
  <form action="{% url 'authentication:sign-in' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <h2>Sign in User</h2>
      <label for="InputUsername" class="form-label">username</label>
      {{ form.username }}
      <div id="usernameHelp" class="form-text">enter your username</div>
    </div>
    <div class="mb-3">
      <label for="InputEmail" class="form-label">Email</label>
      {{ form.email }}
      <div id="emailHelp" class="form-text">enter your email</div>
    </div>
    <div class="mb-3">
      <label for="InputPassword1" class="form-label">Password</label>
      {{ form.password1 }}
      <div id="password1Help" class="form-text">enter your password</div>
    </div>
    <div class="mb-3">
      <label for="InputPassword2" class="form-label">Repeat password</label>
      {{ form.password2 }}
      <div id="passwordwHelp" class="form-text">repeat your password</div>
    </div>
    <button type="submit" class="btn btn-primary">sign in</button>
  </form>
{% endblock %}
